.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3d3d3d;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Animation {
  background-color: #4b4b4b;
  width: 700px;
  height: 900px;
  margin: 10px;
  border-radius: 10px;
}
.Code {
  background-color: #4b4b4b;
  width: 1100px;
  height: 900px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}